{% load static%}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    
    <title>Disease Predictions</title>
  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid px-lg-5 d-flex align-items-center justify-content-between">
          
          <a class="navbar-brand d-flex align-items-center" href="/">
            <!-- <img src="{% static 'images/logo/PK_Logo.png' %}" style = "max-width: 15%;"> -->
            <h4 class = "m-0" style = "font-family: 'Bebas Neue', cursive; font-size: 30px;">PK Clinic</h4>
          </a>

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav">
              <li class="nav-item pe-lg-4">          
                <a class="text-dark nav-link" aria-current="page" href="#">About Us </a>
              </li>

              <li class="nav-item pe-lg-4">          
                <a class="text-dark nav-link" aria-current="page" href="#">Contact </a>
              </li>

              <li class="nav-item pe-lg-4">          
                <a class="text-dark nav-link" aria-current="page" href="#">Smart Doctor </a>
              </li>

              <li class="nav-item pe-lg-4">
                <a class="text-dark nav-link" aria-current="page" href="#">Book Appointment</a>
              </li>

            <li class="nav-item pe-lg-4">
              {% if user.is_authenticated %}          
                <p class = "text-success text-decoration-none fw-bold px-lg-3 m-0">Welcome, {{user.username}}</p>
            </li>
            <li class="nav-item pe-lg-4">
                <a href="{% url 'logout' %}" class = "text-danger fw-bold text-decoration-none">Logout</a>         
            </li>
              {% else %}
              <a href="{% url 'signup' %}" class = "px-lg-3 text-dark text-decoration-none">Create Account</a>
              <a href="{% url 'login' %}" class = "text-dark text-decoration-none">Login</a>
              {% endif %}

            </li>
            
          </ul>

          </div>
        </div>
      </nav>
    </body>
  </html>